:root {
    --side-w: 280px;
    --top-h: 64px;
    --bg-body: #EAE7E7;
    --bg-card: #ffffff;
    --primary: #000000;
    --text-main: #5C5E64;
    --text-muted: #7A7C81;
    --border: #D9D9D9;
}

[data-theme="dark"] {
    --bg-body: #121212;
    --bg-card: #1c1c1c;
    --primary: #ffffff;
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;
    --border: #333333;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}