<div class="calendario-container">
    <div id='calendar'></div>

    <div class="caption-container">
        <span class="legenda-item"><span class="caption confirmado"></span> Confirmado</span>
        <span class="legenda-item"><span class="caption sem-confirmacao"></span> Sem confirmação</span>
        <span class="legenda-item"><span class="caption atraso"></span> Confirmado com atraso</span>
        <span class="legenda-item"><span class="caption hoje"></span> Hoje</span>
    </div>
</div>